<h1 mat-dialog-title >הוספת לקוח חדש</h1>
<div mat-dialog-content>
   <form [formGroup]="clientForm"> 
    <mat-form-field appearance="outline">
        <mat-label>שם לקוח</mat-label>
        <input formControlName="clientName" matInput placeholder="הקלד שם">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>ת"ז לקוח</mat-label>
        <input formControlName="clientId" matInput placeholder="הקלד תעודת זהות">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>בחר סוג מוצר </mat-label>
        <mat-select formControlName="productType" placeholder="תוכנות">
            <mat-option value="תוכנת ניהול">תוכנת ניהול</mat-option>
            <mat-option value="תוכנת שיווק">תוכנת שיווק</mat-option>
            <mat-option value="תוכנת ריגול">תוכנת ריגול</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>תיאור</mat-label>
        <input formControlName="description" matInput placeholder="הקלד תיאור המוצר">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>מחיר </mat-label>
        <input formControlName="price" matInput type="number" placeholder="הקלד מחיר">
    </mat-form-field>

    <mat-radio-group formControlName="paymentMethod" class="example-radio-group" aria-label="Select an option">
        <mat-label>:בחר אופן תשלום</mat-label>
        <mat-radio-button class="example-radio-botton" value="1">תשלום חד-פעמי</mat-radio-button>
        <mat-radio-button class="example-radio-botton" value="2">הוראת קבע</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label>תאריך ביצוע הקנייה</mat-label>
        <input formControlName="purchaseDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> הערות </mat-label>
        <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
   </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" style="margin-left: 8px;" (click)="addClient()">Save</button>
</div>