<h1 mat-dialog-title >Add new client</h1>
<div mat-dialog-content>
   <form [formGroup]="clientForm"> 
    <mat-form-field appearance="outline">
        <mat-label>client Name</mat-label>
        <input formControlName="clientName" matInput placeholder="Type name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>client ID </mat-label>
        <input formControlName="clientId" matInput placeholder="Type ID number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Product Type </mat-label>
        <mat-select formControlName="productType" placeholder="Programs Type">
            <mat-option value="Managing Program">Managing Program </mat-option>
            <mat-option value="Budjeting Program"> Budjeting Program</mat-option>
            <mat-option value="Trucking Program"> Trucking Program</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="Type the description">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Price </mat-label>
        <input formControlName="price" matInput type="number" placeholder="Type Price">
    </mat-form-field>

    <mat-radio-group formControlName="paymentMethod" class="example-radio-group" aria-label="Select an option">
        <mat-label>Choose Payment Method</mat-label>
        <mat-radio-button class="example-radio-botton" value="1">One payment</mat-radio-button>
        <mat-radio-button class="example-radio-botton" value="2">Subscribition</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label> Purchase Date</mat-label>
        <input formControlName="purchaseDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Comment </mat-label>
        <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
   </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" style="margin-left: 8px;" (click)="addClient()">Save</button>
</div>